@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'League Gothic', sans-serif;
    font-family: 'Oswald', sans-serif;
}

.backgrounds {
    background-image: url("..///img/img_2.jpg");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    display: grid;
    place-items: center;
    height: 100vh;
}

.container h1 {
    font-size: 4rem;
    /* color: gainsboro; */
}

.settings {
    position: absolute;
    bottom: 30px;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.settings .fa-cog {
    font-size: 3rem;
    color: white;
}

.settings-conent {
    display: flex;
    gap: 1rem;
}

.settings-conent input {
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

.settings-conent button {
    padding: 0.5rem 1rem;
    background-color: green;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    color: white;
}

.hide{
    display: none;
}

.time-container{
    margin-top: 1rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
.time-container h2{
    line-height: 60px;
   text-align: center;
   font-size: 2rem; 
}

.time-container div{
    font-size: 4rem; 
    color: whitesmoke;
 }







